@using DotStark.Components.Sections
@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<SectionProperties>

<div class="section-two-col">
    <div class="col-left">
        <widget-zone zone-name="left" />
    </div>
    <div class="col-right">
        <widget-zone zone-name="right" />
    </div>
</div>
